<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>actions Component's page</title>
</head>
<body>
    <div class="component-container">
        <ul class="c-actions">
            <li class="c-action">
                <span class="c-action__title">10 طلبات تحتاج المعالجة</span>
                <div class="c-btn c-action__lin"> مشاهدة الطلبات</div>
            </li>
            <li class="c-action">
                <span class="c-action__title">5 رسائل تحتاج الاجابة   </span>
                <div class="c-btn c-action__lin"> مشاهدة الرسائل</div>
            </li>
            <li class="c-action">
                <span class="c-action__title"> منتجات ضرورية علي وشك النفاذ 3</span>
                <div class="c-btn c-action__lin"> مشاهدة المنتجات</div>
            </li>
        </ul>
</div>

</body>
</html>