
        <div class="c-card">
            <h3 class="c-card__title">معلومة الشحن  موجودة</h3>
            <!-- <a class="c-btn c-btn--primary c-card__action">ربط معلومات الشحت</a> -->
            <p class="c-card__desc">عليك  بملئ معلومات الشحن في المتج  بملئ معلومات الشحن في المتجر  </p>
        </div>
        <div class="c-card c-card--no-description">
            <h3 class="c-card__title">معلومة الشحن  موجودة</h3>
            <a class="c-btn c-btn--primary c-card__action">ربط معلومات الشحت</a>
        </div>
        <div class="c-card  c-card-no-action">
            <h3 class="c-card__title">معلومة الشحن غير موجودة</h3>
            <p class="c-card__desc">عليك بملئ معلومات الشحن في المتجر  </p>
        </div>
