<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>tabs Component's page</title>
</head>
<body>
    <div class="component-container">
        <div class="c-tabs js-tab">
            <div class="c-tabs__control">
                <span class="c-tabs__tab js-tab-link is-active" data-index="orders"> طلبات   بحاج للمراجعة</span>
                <span class="c-tabs__tab js-tab-link" data-index="products"> متاجات علي وشك النفاذ</span>
                <span class="c-tabs__tab js-tab-link" data-index="cliens"> زبائن الجدد</span>
            </div>
            <div class="c-tabs__content">
                <div class="c-tabs__tabarea js-tabarea is-active" data-index="orders">
                    <div>tab1</div>
                </div>
                <div class="c-tabs__tabarea js-tabarea" data-index="products">
                    <div>tab2</div>
                </div>
                <div class="c-tabs__tabarea js-tabarea" data-index="clients">
                    <div>tab3</div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>