$color-banner:#47c1bf;
$color-banner-light:#b7ecec;
$color-banner-lighter:#e0f5f5;
$color-banner-dark:#00848e;
$icon-size:32px;

.c-banner{
    @include e-card;
    background-color: $color-banner-lighter;
    border-top: 3px solid $color-banner-dark;
    padding:spacing("small") spacing("extra-wide");
    position: relative;
    transition: transform 400ms ease-out 300ms;
    &__title{
        color:$color-title-subdued;
        font-weight: normal;
        padding-right: 10px !important;
    }
    &__desc{
        font-size: 14px;
    }
    &__action{
        color:$color-title-subdued;
        border-color:$color-title-subdued;;
    }
    &__close,
    &__icon{
        position: absolute;
        top:spacing("small");
    }
    &__close{
        left: spacing("normal");
        cursor: pointer;
    }
    &__icon{
        right: spacing("normal");
        color:$color-banner-dark;
        background:$color-banner-light;
        border-radius: 50%;
        width:$icon-size;
        height:$icon-size;
        line-height:$icon-size !important;
        text-align: center;
    }
 
}
.c-banner > *{
    transform: opacity 200ms ease;
}
.c-banner.collapse{
    transform: scaleY(0);
    transform-origin: 50% 50% !important;
}
.c-banner.collapse > *{
    opacity: 0;
}